:root {
    --chess-board-len: 40vw;
}

body {
    margin: 0 auto;
    max-width: 90vw;
}

.evaluationBar {
    border: 1px solid;
    margin-right: 0.5%;
    width: 1%;
    background-color: white;
}

.evaluationBarFill {
    width: 100%;
    height: 46%; /* This is to be dynamically set later */
    background-color: black;
}

.chessBoard {
    display: grid;
    grid-template-columns: repeat(8, calc(var(--chess-board-len) / 8));
    grid-template-rows: repeat(8, calc(var(--chess-board-len) / 8));
    width: var(--chess-board-len);
    height: var(--chess-board-len);
}

.chessBoardSquare {
    width: calc(var(--chess-board-len) / 8);
    height: calc(var(--chess-board-len) / 8);

    display: grid;
    position: relative;
    place-items: center;
    font-size: calc(var(--chess-board-len) / 8);
}

.chessBoardSquareBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.chessBoardSquare span {
    position: relative;
    z-index: 2;
    cursor: grab;
}

.chessBoardSquare span:active {
    cursor: grabbing;
}
