:root {
    --chess-board-len: 40vw;
}

body {
    margin: 0 auto;
    max-width: 90vw;
}

.chessBoard {
    display: grid;
    grid-template-columns: repeat(8, calc(var(--chess-board-len) / 8));
    grid-template-rows: repeat(8, calc(var(--chess-board-len) / 8));
    width: var(--chess-board-len);
    height: var(--chess-board-len);
}

.chessBoardSquare {
    width: calc(var(--chess-board-len) / 8);
    height: calc(var(--chess-board-len) / 8);

    display: grid;
    place-items: center;
    font-size: calc(var(--chess-board-len) / 8);
}
